# Compiled files
/target/
/rust-rat/target
/rust-rat/target/.rustc_info.json
/end-to-end-cia/target

Makefile

# Rustdoc output
/doc/

# Cargo lock file (keep this if you're building a library)
/Cargo.lock

# Local configuration
/.env

# IDE - IntelliJ, VSCode, etc.
.idea/
*.iml
.vscode/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini

# Linux specific
.*.swp
*~

